h1{
    color:pink;
    font-family: monospace;
}
footer{
    background-color: rosybrown;
    h4{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        p{
        color: royalblue;
         } 
    }
    }
